html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
	/* change img */
	background-image: url(../img/forza1.jpg);
	
	background-position: 30% 45%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
header{
    position: relative;
}
.bg-dark{
	/* change color background: background-color: hexadecimal-color; */
}
/* change height do menu */
.navbar{
	height: 60px;
}
/* change color font */
.navbar-light .navbar-brand {
    color: #FFFFFF;
}

.navbar-light .navbar-toggler {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.navbar-collapse{
	background-color: #343a40 !important;
	z-index: 999999;
	padding-left: 15px;
}
/* change color link do menu */
.nav-link{
	color: #FFFFFF !important;
	padding-right: 12px !important;
}
.nav-link:hover{
	color: #D9D9D9 !important;
}
.navbar-text{
	font-size: 20px;
}

.main-social{
	padding: 6px;
}

.navbar-brand{
	margin-right: 20px;
	margin-bottom: 0;
}
.navbar-brand:hover{
	color: #FFFFFF !important;
}

#shippedtitles{
	background-color: #FFFFFF;
	margin-top: 90px;
	padding-top:10px;
	padding-bottom: 10px;
    position: relative;
}
#projects{
	background-color: #FFFFFF;
	margin-top: 30px;
	padding-top:10px;
	padding-bottom: 10px;
    position: relative;
}
#about{
	background-color: #FFFFFF;
	margin-top: 30px;
	padding-top:10px;
	padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}
.img-projects{
	cursor: pointer;
	display: block;
	margin-top: 10px;
    max-width: 100%;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
}
.project-info{
	cursor: pointer;
	color: #FFFFFF;
	position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    padding-top: 25%;
    text-align: center;
    z-index: 999999;
}
.project-info h5{
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.project-info .project-details{
	position: relative;
    top: -29px;
    width: 100%;
    z-index: 999999;
}
.img-projects:hover{
	-webkit-transform: scale(1.05,1.07);
	-ms-transform: scale(1.05,1.07);
	        transform: scale(1.05,1.07);
	-webkit-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	        transition-duration: 250ms;
	filter: alpha(opacity=0);
}

.description p{
	margin-top: 10px;
	margin-bottom: 0;
}
footer{
	width: 100%;
    position: absolute;
	height: 60px;
	background-color: #343a40;
	color: #FFFFFF;
	bottom: 0;
    left: 0;
	padding-top: 18px;
	text-align: center;
}
